{% extends '@bolt/_base/layout.html.twig' %}
{% import '@bolt/_macro/_macro.html.twig' as macro %}

{% block shoulder %}Sms77{% endblock shoulder %}

{% block title %}Bulk SMS{% endblock %}

{% block vue_id 'editor' %}

{% block main %}
    {% if apiKey is empty %}
        <h1>Missing API key. Please go to settings and set one.</h1>
    {% else %}
        <form method='post'>
            <input type='hidden' name='_csrf_token'
                   value='{{ csrf_token('sms77_bulk_sms') }}'>

            {% include '@bolt/_partials/fields/textarea.html.twig' with {
                'label': 'Text',
                'name': 'text',
                'required': true,
            } %}

            <div class='form-group'>
                <button class='btn btn-primary' name='save' type='submit'>
                    {{ macro.icon('save') }}{{ 'action.save'|trans }}
                </button>
            </div>
        </form>
    {% endif %}
{% endblock %}
